@{
    ViewData["Title"] = "Dashboard2";
}
<h2>Dashboard - MQTT Data</h2>
<div id="dataDisplay">Esperando dados MQTT...</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
<script type="text/javascript">
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/mqtthub")
        .build();

    connection.on("ReceiveData", function (data) {
        document.getElementById("dataDisplay").innerText = data;
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>