@{
    ViewData["Title"] = "Dashboard 1";
}


<section class="container-dashboard">
    <h2>Dashboard 1</h2>
    <section class="container-dados">
        <div class="container-dados__subitens">
            <label>Valor do Erro</label>
            <div class="container-dados__subitens-value">teste</div>
        </div>
        <div class="container-dados__subitens">
            <label>Constante de Tempo</label>
            <div class ="container-dados__subitens-value">teste</div>
        </div>
        <div class="container-dados__subitens">
            <label>Constante de ganho</label>
            <div class="container-dados__subitens-value">teste</div>
        </div>
        <div class="container-dados__subitens">
            <label>Tempo de acomodação</label>
            <div class="container-dados__subitens-value">teste</div>
        </div>
    </section>
    <div class="container-grafico">
        <div class="container-grafico__grafico">
            <canvas id="chartDashboard1"></canvas>
        </div>
        <div class="container-grafico__legenda">
            <table>
                <caption>Legenda</caption>
                <tr>
                    <th>Sigla</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td>LM</td>
                    <td>Valor de luminosidade em %</td>
                </tr>
                <tr>
                    <td>TP</td>
                    <td>Valor de temperatura em °C</td>
                </tr>
                <tr>
                    <td>UD</td>
                    <td>Valor de Umidade em %</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="legenda_dashboard">
        <div class="container-dados-reais" id="container-dados-reais-luminosidade">
            <label class="dados_label">Luminosidade</label>
            <div class="dados-value" id="luminosity-value"></div>
        </div>
        <div class="container-dados-reais" id="container-dados-reais-temperatura">
            <label class="dados_label">Temperatura</label>
            <div class="dados-value" id="temperature-value"></div>
        </div>
        <div class="container-dados-reais" id="container-dados-reais-umidade">
            <label class="dados_label">Umidade</label>
            <div class="dados-value" id="humidity-value"></div>
        </div>
    </div>
</section>
<div id="alerta" class="alert d-none" role="alert">
    <span id="alerta-mensagem"></span>
    <button type="button" class="close" onclick="fecharAlerta()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", async function () {
        let chart; // Variável global para o gráfico

        async function fetchDataDashboard1(dataObject) {
            const response = await fetch(`/Dashboard/GetData?dataObject=${dataObject}`);
            const data = await response.json();
            return data.contextResponses[0].contextElement.attributes[0].values;
        }

        function processAPIData(apiData) {
            const labels = [];
            const values = [];

            apiData.forEach(item => {
                labels.push(new Date(item.recvTime).toLocaleTimeString());
                values.push(item.attrValue);
            });

            return { labels, values };
        }

        async function updateChart() {
            const apiDataLuminosity = await fetchDataDashboard1("luminosity");
            const { labels: labels1, values: valuesLuminosity } = processAPIData(apiDataLuminosity);

            const apiDataTemperature = await fetchDataDashboard1("temperature");
            const { values: valuesTemperature } = processAPIData(apiDataTemperature);

            const apiDataHumidity = await fetchDataDashboard1("humidity");
            const { values: valuesHumidity } = processAPIData(apiDataHumidity);

            document.getElementById('luminosity-value').textContent = valuesLuminosity[valuesLuminosity.length - 1] || 'N/A';
            document.getElementById('temperature-value').textContent = valuesTemperature[valuesTemperature.length - 1] || 'N/A';
            document.getElementById('humidity-value').textContent = valuesHumidity[valuesHumidity.length - 1] || 'N/A';

            if (valuesTemperature[valuesTemperature.length - 1] >= 40) {
                mudaCorTemperatura();
            } else {
                alertaTemperatura.classList.add('container-dados-reais');
                alertaTemperatura.classList.remove('alert-dados');
            }
            if (valuesLuminosity[valuesLuminosity.length - 1] <= 20) {
                mudaCorLuminosidade();
            } else {
                alertaLuminosidade.classList.add('container-dados-reais');
                alertaLuminosidade.classList.remove('alert-dados');
            }
            if (valuesHumidity[valuesHumidity.length - 1] >= 40) {
                mudaCorUmidade();
            } else{
                alertaUmidade.classList.add('container-dados-reais');
                alertaUmidade.classList.remove('alert-dados');
            }

           if (!chart) {
                // Criar o gráfico pela primeira vez
                const ctx = document.getElementById('chartDashboard1').getContext('2d');
                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels1,
                        datasets: [
                            {
                                label: 'LM',
                                data: valuesLuminosity,
                                fill: false,
                                borderColor: 'rgba(75, 192, 192, 1)',
                                tension: 0.1
                            },
                            {
                                label: 'TP',
                                data: valuesTemperature,
                                fill: false,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                tension: 0.1
                            },
                            {
                                label: 'UD',
                                data: valuesHumidity,
                                fill: false,
                                borderColor: 'rgba(54, 162, 235, 1)',
                                tension: 0.1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Valor'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Horário'
                                }
                            }
                        }
                    }
                });
            } else {
                // Atualizar os dados do gráfico existente
                chart.data.labels = labels1;
                chart.data.datasets[0].data = valuesLuminosity;
                chart.data.datasets[1].data = valuesTemperature;
                chart.data.datasets[2].data = valuesHumidity;
                chart.update(); // Atualizar o gráfico com novos dados
            }
        }

        // Atualizar o gráfico ao carregar a página
        await updateChart();

        // Atualizar o gráfico automaticamente a cada 1 minuto (60000 milissegundos)
        setInterval(updateChart, 1000);
    });


</script>

<style>
    main {
        width: 100%;
    }

    .container-dashboard {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        justify-content: center;
    }

        .container-dashboard > h2 {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 1em 0px;
        }

    .container-dados {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 20px;
        gap: 20px;
        background: linear-gradient(135deg, #1d2731, #253544);
        border-radius: 12px;
    }

    .container-dados__subitens {
        display: flex;
        flex-direction: column;
        width: 22%;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: #1e3a5f;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s, box-shadow 0.3s;
        overflow: hidden;
        text-align: center;
        padding: 15px;
    }

        .container-dados__subitens:hover {
            transform: translateY(-5px);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
        }

    label {
        font-size: 1.6rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .container-dados__subitens-value {
        font-size: 1.4em;
        font-weight: 600;
        color: #a0c4ff;
        background-color: #1e3a5f;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }

    .container-grafico {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 2em;
    }

    .container-grafico__grafico {
        width: 70%;
        height: 400px;
    }

    #chartDashboard1 {
        width: 100% !important;
        height: 100% !important;
    }

    .container-grafico__legenda {
        display: flex;
        flex-direction: column;
        width: 30%;
        background: linear-gradient(135deg, #222, #333);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        color: #fff;
        padding-left: 1em;
        height: 300px;
    }

        .container-grafico__legenda table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            color: #ddd;
            font-family: Arial, sans-serif;
        }

    caption {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        margin-bottom: 10px;
        background-color: #555;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #444;
    }

    th {
        background-color: #444;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        font-size: 14px;
        color: #ccc;
        transition: background-color 0.3s;
    }

    tr:nth-child(even) td {
        background-color: #333;
    }

    tr:hover td {
        background-color: #555;
    }

    .legenda_dashboard{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 1em;
    }

    .container-dados-reais{
        display: flex;
        flex-direction: row;
        width: 25%;
        align-items: center;
        padding: 1em;
        border-radius: 1em ;
        background: linear-gradient(135deg, #1d2731, #253544);


    }

    .alert-dados {
        display: flex;
        flex-direction: row;
        width: 25%;
        align-items: center;
        padding: 1em;
        border-radius: 1em;
        background-color: #f52a2adb;
        box-shadow: 0px 0px 8px yellow;
    }

    .dados-value{
        font-size: 2em;
    }

    .dados_label{
        display: flex;
        width: 70%;
        align-content: center;
        justify-content:center;
        margin-right: 1em;
    }

    #luminosity-value{
        color: rgba(75, 192, 192, 1);
    }

    #temperature-value{
        color: rgba(255, 99, 132, 1);
    }

    #humidity-value{
        color: rgba(54, 162, 235, 1);
    }

    #alerta {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 500px;
        padding: 15px;
        text-align: center;
        z-index: 1000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        display: none; /* Esconde inicialmente */
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
    }

    .alert-warning {
        background-color: #fff3cd;
        color: #856404;
    }

    .alert-info {
        background-color: #d1ecf1;
        color: #0c5460;
    }

</style>