@model List<EquipamentoBuscaAvancadaViewModel>

@{
    ViewData["Title"] = "Equipamento Busca Avançada";
}

<fieldset id="areaFiltro" class="form-group">
    <legend>Consulta avançada do Equipamento</legend>
    <div class="row">
        <div class="col-lg-4">
            Nome<br />
            <input type="text" id="Nome" class="form-control" />
        </div>
        <div class="col-lg-4">
            EmpresaId<br />
            <input type="number" id="EmpresaId" class="form-control" />
        </div>
        <div class="col-lg-4">
            Nome Fantasia<br />
            <input type="text" id="NomeFantasia" class="form-control" />
        </div>
        <div class="col-lg-4">
            Ultima atualização<br />
            <input type="date" id="LastUpdate" class="form-control" />
        </div>
        <div class="col-lg-2">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar" onclick="aplicaFiltroConsultaAvancadaEquipamento()" />
        </div>
    </div>
</fieldset>
<div id="resultadoConsulta" class="table-responsive">
</div>

<style>
    .tr {
        color: #0DCAF0;
    }

    td {
        color: white;
    }

    .usuario .container-geral {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: 100%;
        max-width: 100% !important;
        max-height: 100%;
        justify-content: initial;
    }

    .container {
        min-height: 100% !important;
        min-width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .table {
        width: 95%;
        margin-top: 5%;
        border-collapse: separate;
        border-spacing: 0px;
        align-self: center;
    }

    td:nth-child(2) {
        width: 25%;
    }

    td:nth-child(3) {
        width: 30%;
    }

    td:nth-child(4) {
        width: 30%;
    }

    td:first-child {
        width: 15%;
    }

    tr {
        width: 95%;
    }

    th:first-child {
        border-top-left-radius: 10px;
    }

    th:last-child {
        border-top-right-radius: 10px;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    tr, td {
        padding: 8px;
        text-align: center;
        border: 1px solid black;
    }
</style>