<form>
    CEP: <br>
    <input type="text" name="cep" id="cep" onblur="buscaCEP()" />
    <input type="button" name="btnBuscaCEP" value="Buscar" onclick="buscaCEP()" />

    <br>
    Logradouro: <br>
    <input type="text" name="Endereco" id="Endereco" /> <br>
    Número: <br>
    <input type="text" name="numero" id="numero" /> <br>
    Complemento: <br>
    <input type="text" name="complemento" id="complemento" /> <br>
    Bairro: <br>
    <input type="text" name="bairro" id="bairro" /> <br>
    Cidade: <br>
    <input type="text" name="Cidade" id="Cidade" /> <br>
    Estado: <br>
    <input type="text" name="Estado" id="Estado" /> <br>
    UF: <br />
    <input type="text" name="Uf" id="Uf" /> <br>
</form>
